@import "util/mixins.scss";

$background-image: "/img/background.png";
$banner-bg: "/img/banner_bg.jpg";
$banner-center: "/img/banner_center.jpg";
$footer-bg: "/img/footer_bg.jpg";
$footer-center: "/img/footer_center.jpg";

body {
  background: #f3f3f3;
  background-image: url($background-image);
  // background-attachment: fixed;
}

.clear {
  clear: both;
}

.tile {
  padding: 1.0rem 1.5rem;
  background: #fff;
  // background-color: rgba(253,253,253,0.95);
  background-color: rgba(255,255,255,0.95);
  margin-bottom: 1.25em;
  border-right: #d4d4d4 1px solid;
  border-bottom: #d0d0d0 2px solid;

  // @media #{$smaller-screen} {
  //   padding: 1.0rem 4%;
  // }
}

html {
  font-size: 115%;
  line-height: 160%;
  font-family: $serif;
  color: #1a1a1a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans;
  color: #000;
}

a {
  &:hover {
    background-color: #eee;
  }
  &:visited {
    color: #228;
  }

  text-decoration: none;
  border-bottom: 1px dotted #bbb;
  color: #44b;
}




pre, code {
  font-size: 110%;
}


h1, h2, h3, h4, h5, h6 {
  a {
    &:visited {
      color: #3a3a3a;
    }
    &:hover {
      background-color: #e9e9e9;
    }
    color: #000;
  }
  cursor: default;
}

// #header-container, #body-container, #sidebar-container, #main-container, #footer-container {
//   // outline: 1px dotted gray;
// }

#header-container {
  height: 200px;
  background-color: #bbb;
  background-image: url($banner-bg);
  margin: 0 auto;
  width: 100%;
  background-position: center;

  @media #{$smaller-screen} {
    background-image: none;
  }
}

#header-content {
  background-image: url($banner-center);
  background-position: center;
  height: 100%;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;

  // @media #{$smaller-screen} {
  //   background-position-x: -125px;
  // }
}

#body-container {
  margin-top: -1.6rem;
  margin-bottom: -5.8rem;
  z-index: 1000;
}

#main-container {
  // @media #{$smaller-screen} {
  //   margin-top: 172px;
  // }
}

#footer-container {
  margin-top: 3rem;
  margin-bottom: 0;
  width: 100%;
  background-image: url($footer-bg);
  height: 200px;
  overflow: hidden;
  background-position: center;
}

#footer-content {
  text-align: center;
  font-size: 90%;
  padding: 5rem 1.5rem 0;
  height: 100%;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;

  .tile {
    margin: 0 auto;
    padding: 0.75rem 1rem 0.75rem;
  }

  // .footer-copyright {
  //   display: inline-block;
  // }
  //
  .social-follows {
    margin-top: -0.15rem;
    margin-bottom: 0.15rem;
  }

}

h1 {
  margin-bottom: 0.4em;
  // margin-bottom: 0;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
  margin-top: -0.75rem;
  // margin-top: 0.25rem;
}

.single-page {

  > header {
    margin-bottom: 0;
  }

}


.tag-list {
  > li {
    display: inline-block;
    padding: 0;
    margin: 0.3rem 0.3rem;
    > a {
      background: #eee;
      border-bottom: #bbb 1px solid;
      border-right: #bbb 1px solid;
      padding: 0rem 0.5rem;
      padding-top: 0.05rem;
      display: block;
      color: #111;
      &:visited {
        color: #111;
      }
      &:hover {
        background: #eee;
      }
    }
  }

  .tag-a-tag {
    background: $tag-color;
    &:hover {
      background: lighten($tag-color,3);
    }
  }
  .tag-a-category {
    background: $category-color;
    &:hover {
      background: lighten($category-color,3);
    }
  }
  .tag-a-series {
    background: $series-color;
    &:hover {
      background: lighten($series-color,3);
    }
  }

  font-size: 80%;
  // line-height: 100%;
  margin-bottom: 0.5rem;
  list-style-type: none;
  text-align: right;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.clickable {
  cursor: pointer;
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important; 
}

@import "partial/copy-content.scss";
@import "partial/navbar.scss";
@import "partial/social.scss";
@import "partial/print.scss";
