@import "scss/util/mixins.scss";

$background-image: "/img/background.png";
$banner-bg: "/img/banner_bg.jpg";
$banner-center: "/img/banner_center.jpg";
$footer-bg: "/img/footer_bg.jpg";
$footer-center: "/img/footer_center.jpg";

body {
  background: #f3f3f3;
  background-image: url($background-image);
  // background-attachment: fixed;
}

.clear {
  clear: both;
}

.tile {
  padding: 1.0rem 1.5rem;
  background: #fff;
  // background-color: rgba(253,253,253,0.95);
  background-color: rgba(255,255,255,0.95);
  margin-bottom: 1.25em;
  border-right: #d4d4d4 1px solid;
  border-bottom: #d0d0d0 2px solid;

  // @media #{$smaller-screen} {
  //   padding: 1.0rem 4%;
  // }
}

// p {
//   cursor: default;
// }

html {
  font-size: 115%;
  line-height: 160%;
  // font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  // font-family: Prociono, Vollkorn, Playfair Display, serif;
  font-family: Vollkorn, serif;
  // font-family: Playfair Display, serif;
  color: #1a1a1a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000;
  // font-family: Playfair Display, serif;
}

a {
  &:hover {
    background-color: #eee;
  }
  &:visited {
    color: #228;
  }

  text-decoration: none;
  border-bottom: 1px dotted #bbb;
  color: #44b;
}




pre, code {
  font-size: 110%;
}


h1, h2, h3, h4, h5, h6 {
  a, a:visited {
    color: #000;
  }
  a:hover {
    background-color: #e9e9e9;
  }
  cursor: default;
}

// #header-container, #body-container, #sidebar-container, #main-container, #footer-container {
//   // outline: 1px dotted gray;
// }

#header-container {
  height: 200px;
  background-color: #bbb;
  background-image: url($banner-bg);
  margin: 0 auto;
  width: 100%;
  background-position: center;

  @media #{$smaller-screen} {
    background-image: none;
  }
}

#header-content {
  background-image: url($banner-center);
  background-position: center;
  height: 100%;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;

  @media #{$smaller-screen} {
    background-position-x: -125px;
  }
}

#body-container {
  margin-top: -2rem;
  margin-bottom: -6rem;
  z-index: 1000;

  @media #{$smaller-screen} {
    margin-top: -200px;
  }
}

#sidebar-container {
}

#main-container {
  @media #{$smaller-screen} {
    margin-top: 172px;
  }
}

#footer-container {
  margin-top: 3rem;
  margin-bottom: 0;
  width: 100%;
  background-image: url($footer-bg);
  height: 200px;
  overflow: hidden;
  background-position: center;

  @media #{$smaller-screen} {
    background-image: none;
  }
}

#footer-content {
  // margin-top: 6rem;
  text-align: center;
  padding: 5rem 5% 0 5%;
  height: 100%;
  background-image: url($footer-center);
  width: 100%;
  background-position: center;
  max-width: 1024px;
  margin: 0 auto;

  .tile {
    padding-bottom: 1.5rem;
    margin: 0 auto;
  }

}

h1 {
  margin-bottom: 0.4em;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0)); 
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0)); 
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0)); 
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
}

@import "scss/partial/copy-content.scss";
@import "scss/partial/sidebar.scss";

.single-page {

  > header {
    margin-bottom: 0;
  }

}


.tag-list {
  > li {
    display: inline-block;
    padding: 0rem 0.5rem;
    padding-top: 0.05rem;
    margin: 0.3rem 0.3rem;
    background: #eee;
    border-bottom: #bbb 1px solid;
    border-right: #bbb 1px solid;
    cursor: pointer;
    > a {
      border: none;
    }
    > a, > a:visited {
      color: #111;
    }
    > a:hover {
      background-color: transparent;
      color: #666;
    }
  }

  .tag-li-tag {
    background: #dde;
  }
  .tag-li-category {
    background: #edd;
  }
  .tag-li-series {
    background: #ded;
  }

  font-size: 80%;
  // line-height: 100%;
  margin-bottom: 0.5rem;
  list-style-type: none;
  text-align: right;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}


