@import "util/mixins.scss";

.article {

  > header {

    .unposted-banner {
      display: block;
      background: #f77;
      margin: 0.5rem 1rem 1.5rem 1rem;
      padding: 1.5rem;
      border: 8px solid #fbb;
      text-align: center;
      text-transform: uppercase;
      color: #eee;
      font-weight: bold;
      font-size: 120%;
    }

    .unposted-banner {
      &:before, &:after {
        content: " !! ";
      }
      cursor: default;
    }

    h1 {
      border-top: 4.25rem solid transparent;
      margin-top: -4.25rem;
      margin-bottom: 1rem;
    }


    > p {
      text-align: right;
      font-style: italic;
      // margin-bottom: 0.4rem;
      margin-bottom: 0;
      // line-height: 100%;
      // word-spacing: 0.5rem;
      cursor: default;
      @media #{$smallest-screen} {
        font-size: 85%;
      }
    }

    a, .info-separator {
      font-weight: bold;
      font-style: normal;
    }

    .info-separator {
      margin: auto 0.3rem;
    }

    .comment-link, .source-link {
      font-weight: normal;
      font-style: italic;
      // color: #888;
    }

    // .source-info {
    //   display: none;
    // }

    margin-bottom: 0.75rem;
  }

  .main-content {
    @include first-line-emphasis(150%);
    margin-top: 3rem;
    @media #{$smaller-screen} {
      margin-top: 1rem;
    }
    h2,h3,h4,h5 {
      display: block;
    }

    > span {
      // padding-top: 6rem;
      // margin-top: -6rem;
      // margin-top: -3rem;
      // margin-bottom: 3rem;
      display: block;
      z-index: -1;
    }

    div.code-link-box {
      float: right;
      font-family: $sans;
      background-color: #fff;
      font-size: 80%;
      margin-top: -0.75rem;
      margin-right: -1rem;
      text-align: right;
      border-bottom: 1px solid #ddd;
      border-left: 1px solid #ddd;
      > a {
        padding: 0.1rem 0.9rem;
        border: none;
        border-bottom: 1px solid #eee;
        display: block;
        font-style: italic;
        &:hover {
          background-color: #fafafa;
        }
        &:first-child {
          padding-top: 0.2rem;
        }
        &:last-child {
          padding-bottom: 0.2rem;
          border: none;
        }
      }
    }


  }

}

.top-link {
  font-size: 0.8rem;
  font-style: normal;
  font-weight: normal;
  font-family: $serif;
  margin-left: 0.5rem;
  color: #777;
  &:visited {
    color: #777;
  }
}

.entry-series {
  > li {
    display: block;
    background: #eee;
    margin: 1.5rem 1rem;
    padding: 1.5rem;
    border: 8px solid #f9f9f9;
  }

  list-style-type: none;
  margin-top: 3rem;
}




.social-buttons {
  a {
    border: none;
    &:hover {
      background-color: transparent;
    }
  }
  margin: 1rem 0 1.75rem 1rem;
}


.addthis-buttons {
  // float: right;
  // margin-bottom: 0.5rem;
}

.custom-social-buttons {
  > div {
    display: inline-block;
    margin-right: 1rem;
  }
}




.next-prev-links {
  > ul {
    list-style-type: none;
    margin-bottom: 0.5rem;
    cursor: default;
    > li {
      display: block;
      font-style: italic;
    }
  }

  .next-entry-link {
    text-align: right;
  }

  margin: 0.5rem 0 0.5rem 0;
  font-size: 90%;
}

.aside-header {
  .clickme {
    margin-left: 0.3em;
    font-style: italic;
  }
  &:hover {
    background-color: #fafaff;
  }
}

@import "partial/toc.scss";
