@import "scss/util/mixins.scss";

.article {

  > header {

    .unposted-banner {
      display: block;
      background: #f77;
      margin: 0.5rem 1rem 1.5rem 1rem;
      padding: 1.5rem;
      border: 8px solid #fbb;
      text-align: center;
      text-transform: uppercase;
      color: #eee;
      font-weight: bold;
      font-size: 120%;
    }

    .unposted-banner {
      &:before, &:after {
        content: " !! ";
      }
    }

    > p {
      text-align: right;
      font-style: italic;
      // margin-bottom: 0.4rem;
      margin-bottom: 0;
      // line-height: 100%;
      // word-spacing: 0.5rem;
      cursor: default;
    }

    a, .info-separator {
      font-weight: bold;
      font-style: normal;
    }

    .info-separator {
      margin: auto 0.3rem;
    }

    .comment-link {
      font-weight: normal;
      font-style: italic;
    }

    margin-bottom: 1rem;
  }

  .main-content {
    @include first-line-emphasis(150%);
    margin-top: 3rem;
  }

}

.entry-series {
  > li {
    display: block;
    background: #eee;
    margin: 1.5rem 1rem;
    padding: 1.5rem;
    border: 8px solid #f9f9f9;
  }

  list-style-type: none;
  margin-top: 3rem;
}




.social-buttons {
  a {
    border: none;
    &:hover {
      background-color: transparent;
    }
  }
  margin: 1rem 0 1.75rem 1rem;
}


.addthis-buttons {
  // float: right;
  // margin-bottom: 0.5rem;
}

.custom-social-buttons {
  > div {
    display: inline-block;
    margin-right: 1rem;
  }
}




.next-prev-links {
  > ul {
    list-style-type: none;
    margin-bottom: 0.5rem;
    cursor: default;
    > li {
      display: block;
      font-style: italic;
    }
  }

  .next-entry-link {
    text-align: right;
  }

  margin: 0.5rem 0 0.5rem 0;
  font-size: 90%;
}
