@import "scss/util/mixins.scss";

.home-section {

  article {
    > header {
      > h2 {
        font-size: 190%;
        line-height: 125%;
        font-weight: bold;
        // > a {
        //   border: none;
        // }
      }

      > time {
        font-size: 90%;
        font-style: italic;
        display: block;
        // line-height: 125%;
        border-bottom: 1px solid #bbb;
        line-height: 100%;
        width: 40%;
        // padding-right: 3rem;
        color: #444;
      }

      margin-bottom: 2rem;
    }

    > .entry-lede {
      > p {
        margin: 0.75rem 0;
        text-indent: 2rem;
      }

      .link-readmore, .link-comment {
        font-size: 90%;
        font-style: italic;
      }

      .link-comment {
        &:before {
          content: "(";
        }
        &:after {
          content: ")";
        }
        margin-left: 0.4rem;
      }

      margin-bottom: 2.5rem;
      @include first-line-emphasis(133%);
  

    }

    padding-top: 1rem;

  }

  > footer {

    > nav > ul {
      > li {
        display: inline-block;

      }

      > .home-next {
        float: left;
      }
      > .home-prev {
        float: right;
      }

      list-style-type: none;
      margin: 0;
    }

    padding-top: 1rem;
    padding-bottom: 1rem;

  }

}
