@import "util/mixins.scss";
@import "util/icons.scss";

$photo: "/img/photo_square.jpg";


.home-section {

  h2 {
    font-size: 200%;
    line-height: 125%;
    padding: 0;
  }

  .recent-header {
    margin: 0;
  }

  article {
    > header {
      > h3 {
        font-size: 190%;
        line-height: 125%;
        font-weight: bold;
        // > a {
        //   border: none;
        // }
      }

      > time {
        font-size: 90%;
        font-style: italic;
        // display: block;
        // line-height: 125%;
        border-bottom: 1px solid #bbb;
        line-height: 100%;
        // width: 50%;
        // padding-right: 3rem;
        color: #444;
        cursor: default;
        // overflow: visible;
        // white-space: nowrap;
        padding-right: 3rem;
      }

      margin-bottom: 2rem;
    }

    > .entry-lede {

      > p {
        margin: 0.75rem 0;
        // text-indent: 2rem;
      }

      .link-readmore, .link-comment {
        font-style: italic;
        // line-height: 175%;
      }

      .link-readmore {
        // font-size: 133%;
      }

      .link-comment {
        &:before {
          content: "(";
        }
        &:after {
          content: ")";
        }
        margin-left: 0.4rem;
        color: #888;
        border: none;
      }

      margin-bottom: 1.5rem;
      @include first-line-emphasis(133%);

    }

    padding-top: 1rem;

  }

}

.home-banner {
  .copy-content {
    @include first-line-emphasis;
  }

  .home-banner-history {
    margin: 0;
    > a {
      border: none;
      color: #333;
      &:visited {
        color: #333;
      }
      &:hover {
        background: none;
        color: #555;
      }
    }
  }

  h2 {
    float: left;
    margin: 0.6rem 1.5rem 0.5rem 0;
    padding: 0;
    height: 200px;
    border: none;
    display: block;
    width: 200px;
    z-index: 100;
    cursor: auto;
    a {
      display: block;
      width: 200px;
      height: 200px;
      margin: 0;
      padding: 0;
      text-indent: 100%;
      overflow: hidden;
      white-space: nowrap;
      background-image: url($photo);
      background-size: cover;
      border-radius: 50%;
      border: 2px #ccc solid;
    }
    @media #{$smallest-screen} {
      float: none;
      display: block;
      margin: 0 auto;
      padding: 0;
      margin-bottom: 1rem;
    }
  }

  .social-follows {
    display: block;
    text-align: right;
    font-style: italic;
    margin-right: 1rem;
    cursor: default;
    > ul {
      margin-left: 0.15rem;
    }
  }

}

.home-sidebar {
  ul {
    list-style-type: none;
    ul {
      // margin-left: 0.75rem;
      margin-left: 0;
      list-style-type: none;
      font-size: 95%;
      @media #{$smaller-screen} {
        text-align: center;
        margin-left: 0;
        > li {
          display: inline-block;
          margin: 0 0.25rem;
        }
      }
    }
  }
  h3 {
    font-size: 150%;
    margin-bottom: 0.5rem;
  }
}

@mixin home-links-icons($title,$sprite) {
  a[title="#{$title}"]:before {
    background-position-y: sprite16-y($sprite);
  }
}


.home-links {
  a {
    &:before {
      display: inline-block;
      // background-color: #aaa;
      height: 16px;
      width: 16px;
      content: "";
      background-image: url($sprites16);
      margin: 0 0.2rem -0.1rem 0.1rem;
    }
  }
  @include home-links-icons("Facebook",$facebook16);
  @include home-links-icons("Twitter",$twitter16);
  @include home-links-icons("Google\+",$gplus16);
  @include home-links-icons("LinkedIn",$linkedin16);
  @include home-links-icons("Youtube",$youtube16);
  @include home-links-icons("Stack\ Overflow",$stackoverflow16);
  @include home-links-icons("Github",$github16);
  @include home-links-icons("Resume",$resume16);
  ul {
    ul {
      margin-left: 0.25rem;
    }
  }
}

.home-tags {
  ul {
    ul {
      margin-left: 0.6rem;
      font-size: 82%;
      line-height: 166%;
      > li {
        > span {
          font-style: italic;
        }
      }
    }
  }
}

// .home-category-list {
//   ul {
//     li {
//       // margin-bottom: 0.15rem;
//       // text-transform: lowercase;
//     }
//   }
// }

.home-footer {

  > nav > ul {
    > li {
      display: inline-block;

    }

    > .home-next {
      float: left;
    }
    > .home-prev {
      float: right;
    }

    list-style-type: none;
    margin: 0;
  }

  padding-top: 1rem;
  padding-bottom: 1rem;

}
