/*.log
/.sass-cache
/.shake
/cabal.sandbox.config
/.cabal-sandbox*
/cabal-dev
/dist
/tmp
/static/img/test
/tags
/bin
*.o
*.hi

/.stack-work
/_site
/_cache
/_build
/_ghcjs

!/bin/blog
!/.cabal-sandbox/share
!/.cabal-sandbox/*.conf.d

/code-samples/huffman/bin
/code-samples/huffman/samples
/code-samples/huffman/old
/code-samples/misc/send-more-money
