/*.log
/.sass-cache
/.shake
/cabal.sandbox.config
/.cabal-sandbox*
/cabal-dev
/dist
/tmp
/static/img/test
/tags
/bin
*.o
*.hi
*.dyn_hi
*.dyn_o
**~
/dist-newstyle

/.stack-work
/_*
/.psci
/.psci_modules
/output
/purescript/output
/bower_components
/TAGS
/.history
/result

/copy/entries/placeholder.md
*.dat
*.psc-ide-port
/tmp.*
