/*.log
/.sass-cache
/.shake
/cabal.sandbox.config
/.cabal-sandbox*
/cabal-dev
/dist
/tmp
/static/img/test
/tags
/bin
*.o
*.hi
*.dyn_hi
*.dyn_o
*.cabal

/.stack-work
/_site
/_cache
/_build
/_ghcjs
/_purescript
/.psci
/.psci_modules
/output
/bower_components
/TAGS

/copy/entries/placeholder.md
*.dat
