@import "scss/util/mixins.scss";

.copy-content {
  p, ul, ol, dl, pre, blockquote {
    margin: 0;
    margin-bottom: 1rem;
  }

  p {
    text-indent: 1.5rem;
  }

  ul, ol, dl {
    margin-left: 1.5rem;
  }

  dt {
    font-weight: bold;
    display: block;
    // border-bottom: 1px solid #faa;
    // margin-bottom: 0.2rem;
    // line-height: 100%;
  }
  dd {
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-left: 3px solid #933;
    padding-left: 0.5rem;

  }

  a {
    border-bottom: 1px dotted #bbb;
  }

  code {
    background: #eee;
  }

  pre {
    > code {
      background: none;
    }
    background: #efe;
    overflow-x: auto;
    font-size: 95%;
    line-height: 175%;
    padding: 0.75rem 1rem;
    margin: 2rem 0;

  }

  blockquote {
    > p {
      &:first-child {
        &:first-line {
          font-weight: bold;
          font-size: 110%;
        }

        margin-top: 0;
      }
      margin: 1rem 0 0 0;
    }
    background: #eef;
    padding: 1rem 1.5rem;
    margin: 2rem 1rem;
    border-left: 6px solid #44d;
    font-size: 110%;
  }

  h2 {
    font-size: 170%;
    line-height: 125%;
    margin-top: 4rem;
    margin-bottom: 0.75rem;
    color: #225;
  }
  h3 {
    font-size: 130%;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    color: #911;
  }


  padding-left: 1rem;
  padding-right: 1rem;

  @media #{$smaller-screen} {
    padding-left: 0;
    padding-right: 0;
  }



}
