
#main-container article {

  > header {

    > p {
      text-align: right;
      font-style: italic;
      margin-bottom: 0.4rem;
    }

    a {
      font-weight: bold;
      font-style: normal;
    }

    margin-bottom: 1rem;
  }


  > .main-content {
    > h2 {
      font-size: 1.6rem;
      line-height: 125%;
      margin-top: 2.5rem;
      margin-bottom: 1rem;
    }
    > h3 {
      font-size: 1.2em;
      margin-bottom: 0.5rem;
    }

    > p {
      text-indent: 2.5rem;
    }

    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }


  > footer {
    > .entry-series {
      > li {
        display: block;
        background: #eee;
        margin: 1.5rem 1rem;
        padding: 1.5rem;
        border: 8px solid #f9f9f9;
      }

      list-style-type: none;
    }
  }


}
