@import "src/scss/main";

#main-container > section {

  article {
    > header {
      > h2 {
        font-size: 1.9rem;
        line-height: 125%;
        font-weight: bold;
        a {
          text-decoration: none;
        }
      }

      > time {
        font-size: 0.9rem;
      }

      margin-bottom: 2rem;
    }

    > .entry-lede {
      > p {
        margin: 0.75rem 0;
        text-indent: 2rem;
      }
      .link-readmore {
        font-size: 90%;
      }


      @include first-line-emphasis(1.33rem);
      margin-bottom: 2.5rem;
      padding-left: 1rem;
      padding-right: 1rem;

      @media #{$smaller-screen} {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .tag-list {
      text-align: right;
    }

  }

  > footer {

    > nav ul {
      > li {
        display: inline-block;
        > a {
          text-decoration: none;
        }

      }

      > .home-next {
        float: left;
      }
      > .home-prev {
        float: right;
      }

      list-style-type: none;
    }

    padding-top: 0.2rem;
    padding-bottom: 1.7rem;
  }

}
