
#main-container section {

  article {
    header {
      h2 {
        font-size: 1.8rem;
        line-height: 125%;
        font-weight: bold;
        a {
          text-decoration: none;
        }
      }

      time {
        font-size: 0.9rem;
      }

      margin-bottom: 2.5rem;
    }

    .entry-lede {
      p {
        margin: 0.75rem 0;
      }
      margin-bottom: 3rem;

      .link-readmore {
        font-size: 90%;
      }

    }

    footer {

    }


  }

}
