@import "util/mixins.scss";

.copy-content {
  @media #{$smallest-screen} {
    font-size: 85%;
  }

  p, ul, ol, dl, pre, blockquote {
    margin: 0;
    margin-bottom: 1rem;
  }

  hr {
    margin: 1.5em 0 3em;
  }

  p {
    text-indent: 1.5rem;
  }

  ul, ol, dl {
    margin-left: 2.5rem;
    p {
      text-indent: 0.5rem;
    }
  }

  ul {
    ul {
      ul {
        list-style-type: circle;
      }
      list-style-type: square;
    }
    list-style-type: disc;
  }


  dl {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  dt {
    font-weight: bold;
    display: block;
  }
  dd {
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-left: 3px solid #933;
    padding-left: 0.5rem;

  }

  a {
    border-bottom: 1px dotted #bbb;
  }

  code {
    background: #eee;
    padding: 0.1em 0.4em;
    margin: 0 0.1em;
    border: 1px solid #ccc;
    border-radius: 0.2em;
  }

  pre {
    > code {
      background: none;
      border: none;
      padding: 0;
    }
    background: #f8f8f8;
    border: 1px dashed #ddd;
    overflow-x: auto;
    font-size: 95%;
    line-height: 175%;
    padding: 0.75rem 1rem;
    margin: 2rem 0;
  }

  blockquote {
    > p {
      &:first-child {
        &:first-line {
          font-weight: bold;
          font-size: 110%;
        }
      }
    }
    background: #f4f4ff;
    padding: 1.5rem 1.5rem;
    padding-bottom: 0.6rem;
    margin: 1.25rem 1rem 2rem;
    border-left: 4px solid #44c;
    font-size: 110%;
  }

  h2, h3, h4, h5 {
    border-top: 3.25rem solid transparent;
  }

  h2 {
    font-size: 170%;
    line-height: 125%;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    color: #225;
  }
  h3 {
    font-size: 130%;
    margin-bottom: 0.5rem;
    margin-top: -1.25rem;
    color: #911;
  }
  h4 {
    font-size: 105%;
    margin-top: -2.25rem;
    margin-bottom: 0.5rem;
    color: #541;
  }
  h5 {
    font-size: 105%;
    margin-top: -2.25rem;
    margin-bottom: 0rem;
    font-weight: normal;
    color: #515;
  }



  padding-left: 1rem;
  padding-right: 1rem;

  @media #{$smaller-screen} {
    padding-left: 0;
    padding-right: 0;
  }



}
