@import "util/mixins.scss";

.copy-content {
  @media #{$smallest-screen} {
    font-size: 85%;
  }

  p, ul, ol, dl, pre, blockquote, figure {
    margin: 0;
    margin-bottom: 1rem;

    @media print {
      margin-bottom: 0.3rem;
    }
  }

  hr {
    margin: 1.5em 0 3em;
  }

  ul, ol, dl {
    margin-left: 1.5rem;
  }

  ul {
    ul {
      ul {
        list-style-type: circle;
      }
      list-style-type: square;
    }
    list-style-type: disc;
  }


  dl {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  dt {
    font-weight: bold;
    display: block;
  }
  dd {
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-left: 3px solid #933;
    padding-left: 0.5rem;

  }

  a {
    border-bottom: 1px dotted #bbb;
  }

  code {
    background: #eee;
    padding: 0.1em 0.4em;
    margin: 0 0.1em;
    border: 1px solid #ddd;
    border-radius: 1px;
    white-space: nowrap;
  }

  pre {
    > code {
      background: none;
      border: none;
      padding: 0;
      margin: 0;
      white-space: pre;
    }
    background: #f8f8f8;
    border: 1px solid #aaa;
    overflow-x: auto;
    font-size: 95%;
    line-height: 175%;
    padding: 0.75rem 1rem;
    border-radius: 1px;
    margin: 2rem 0;

    @media print {
      overflow-x: visible;
      font-size: 0.67rem;
    }
  }

  pre.code-block-prompt {
    background: #f8f8fd;
  }

  blockquote {
    > p {
      &:first-child {
        &:first-line {
          font-weight: bold;
          font-size: 110%;
        }
      }
    }
    background: #f4f4ff;
    padding: 1.5rem 1.5rem;
    padding-bottom: 0.6rem;
    margin: 1.25rem 1rem 2rem;
    border-left: 4px solid #44c;
    font-size: 110%;
  }

  aside, p.note {
    margin: 0.5rem 0.5rem 1.5rem 0.5rem;
    padding: 1rem 1rem 0.5rem;
    border-left: 4px solid #383;
    background: #f4fff4;
    font-size: 85%;
    > p {

    }
    h6 {
      font-size: 120%;
      margin-bottom: 1rem;
      color: #541;
    }
  }

  figure {
    width: 80%;
    border: 2px solid #ddd;
    margin: 3.0rem auto 3.5rem;
    text-align: center;

    > img {
      max-width: 100%;
      padding: 2.5%;
      margin: 1rem auto 0.5rem;
    }

    > figcaption {
      width: 100%;
      margin: 0 auto;
      font-family: $sans;
      font-size: 80%;
      font-style: italic;
      background-color: #aee;
      padding: 1rem;
      border-top: 2px solid #ddd;
    }

    @media #{$smaller-screen} {
      width: 100%;
    }
  }

  h2, h3, h4, h5 {
    border-top: 3.25rem solid transparent;
  }

  h2 {
    font-size: 170%;
    line-height: 125%;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    color: #225;
  }
  h3 {
    font-size: 130%;
    margin-bottom: 0.5rem;
    margin-top: -1.25rem;
    color: #911;
  }
  h4 {
    font-size: 105%;
    margin-top: -2.25rem;
    margin-bottom: 0.5rem;
    color: #541;
  }
  h5 {
    font-size: 105%;
    margin-top: -2.25rem;
    margin-bottom: 0rem;
    font-weight: normal;
    color: #515;
  }



  padding-left: 1rem;
  padding-right: 1rem;

  @media #{$smallest-screen} {
    padding-left: 0;
    padding-right: 0;
  }

  .footnoteRef {
    border-top: 3.25rem solid transparent;
    // padding-top: 3.25rem;
    margin-top: -3.25rem;
    background-clip: content-box;
  }

  section.footnotes > ol > li {
    border-top: 3.25rem solid transparent;
    margin-top: -3.25rem;

    > p {
      z-index: 100;
      font-size: 85%;
    }
  }

  @media print {
    p a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */

    font-size: 85%;
    line-height: 150%;

    p {
      text-indent: 1.25rem;
    }

  }
}
