@import "scss/util/mixins.scss";

$photo: "/img/photo_square.jpg";

.sidebar-content {

  .sidebar-author-card {
    @media #{$bigger-screen} {
      background-image: url($photo);
      background-size: cover;
      display: block;
      border-radius: 50%;
      border: 2px solid #ddd;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 1.1rem;
      margin-left: auto;
      margin-right: auto;
    }
    @media #{$smaller-screen} {
      float: left;
      line-height: 0.6rem;
      margin-left: 1rem;
      font-size: 110%;
      // font-weight: bold;
      z-index: 100;
    }
  }

  p, ul {
    padding-right: 0.5rem;

    @media #{$smaller-screen} {
      padding-right: 0;
    }
  }

  p {
    margin-bottom: 2rem;
    font-size: 90%;
    @media #{$smaller-screen} {
      display: none;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;

    @media #{$smaller-screen} {
      > li {
        display: inline;
      }
    }

  }

  text-align: right;

  @media #{$smaller-screen} {
    a {
      line-height: 2.3rem;
      height: 100%;
      padding: 0.8rem 0.4rem;
      margin: 0 0.1rem;
      border: none;
      font-size: 95%;
      height: 100%;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      color: #335;
      &:hover {
        background: none;
        color: #44a;
      }
    }

    margin-left: -1.5rem;
    border-right: none;
    border-bottom: 2px #aaa solid;
    padding: 0;
    padding-right: 0.75rem;
    background-color: rgba(255,255,255,0.9);
  }
}

#sidebar-container {
  @media #{$smaller-screen} {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding-left: 1.5rem;
    // margin-bottom: 5.5rem;
    position: fixed;
    width: 100%;
    z-index: 100000;
    margin-top: -173px;
  }
}

// .sidebar-info {
//   @media #{$smaller-screen} {
//     display: none;
//   }
// }
