
$sprites: '/img/assets/icons.png';

@function sprite-y($i) {
  @return $i * -16px;
}

$facebook: 1;
$twitter: 2;
$gplus: 3;
$linkedin: 4;

// .social-follows {
//   a {
//     border: none;
//     &:hover {
//       background-color: transparent;
//     }
//   }
// }
// .social-follows {
//   > div {
//     display: inline-block;
//   }
//   font-style: italic;
//   float: right;
//   margin-right: 1rem;
// }

.social-follows-list {
  list-style-type: none;
  display: inline-block;
  height: 16px;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    margin: 0;
    padding: 0
  }
  a {
    display: inline-block;
    height: 16px;
    width: 16px;
    background-image: url($sprites);
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    border: none;
    // border-radius: 2px;
    &:hover {
      background-color: transparent;
      filter: alpha(opacity=67);
      opacity: 0.67;
    }
    padding: 0;
    margin: 0 0.15rem;
  }
}


.social-follow-facebook {
    background-position-y: sprite-y($facebook);
}
.social-follow-twitter {
    background-position-y: sprite-y($twitter);
}
.social-follow-linkedin {
    background-position-y: sprite-y($linkedin);
}
.social-follow-gplus {
    background-position-y: sprite-y($gplus);
}
