@import 'scss/util/mixins.scss';


$facebook: 1;
$twitter: 2;
$gplus: 3;
$linkedin: 4;

.social-follows-list {
  list-style-type: none;
  display: inline-block;
  height: 16px;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    margin: 0;
    padding: 0
  }
  a {
    display: inline-block;
    height: 16px;
    width: 16px;
    background-image: url($sprites16);
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    border: none;
    // border-radius: 2px;
    &:hover {
      background-color: transparent;
      filter: alpha(opacity=67);
      opacity: 0.67;
    }
    padding: 0;
    margin: 0 0.1rem;
  }
}


.social-follow-facebook {
    background-position-y: sprite16-y($facebook);
}
.social-follow-twitter {
    background-position-y: sprite16-y($twitter);
}
.social-follow-linkedin {
    background-position-y: sprite16-y($linkedin);
}
.social-follow-gplus {
    background-position-y: sprite16-y($gplus);
}
