@mixin vendor-prefix($name, $value) {
  @each $vendor in ('', '-webkit-', '-moz-', '-ms-', '-o-') {
    #{$vendor}#{$name}: #{$value};
  }
}

@mixin first-line-emphasis($size: 150%) {
  > p:first-child:first-line {
    font-size: $size;
    line-height: 120%;
    text-indent: 3rem;
    font-style: italic;
  }
}

$break: 650px;
$smaller-screen: "only screen and (max-width : #{$break})";

$photo: "/img/photo_square.jpg";
$background-image: "/img/background.png";
$banner-bg: "/img/banner_bg.jpg";
$banner-center: "/img/banner_center.jpg";
$footer-bg: "/img/footer_bg.jpg";
$footer-center: "/img/footer_center.jpg";

// $link-color: #338;
// $link-color-subtle: #111;


body {
  background: #f3f3f3;
  background-image: url($background-image);
  // background-attachment: fixed;
}

.clear {
  clear: both;
}

.tile {
  padding: 1.0rem 1.5rem;
  background: #eee;
  // background-color: rgba(255,255,255,0.95);
  background-color: rgba(253,253,253,0.95);
  margin-bottom: 1.25em;
  border-right: #d4d4d4 1px solid;
  border-bottom: #d0d0d0 2px solid;

  // @media #{$smaller-screen} {
  //   padding: 1.0rem 4%;
  // }
}

html {
  font-size: 115%;
  line-height: 160%;
  // font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  // font-family: Prociono, Vollkorn, Playfair Display, serif;
  font-family: Vollkorn, serif;
  // font-family: Playfair Display, serif;
  color: #111;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000;
  // font-family: Playfair Display, serif;
}

a {
  text-decoration: none;
  color: #33a;
}

a:hover {
  // text-decoration: underline;
  background-color: #eee;
}

a:visited {
  color: #338;
}


pre, code {
  font-size: 110%;
}


h1, h2, h3, h4, h5, h6 {
  a, a:visited {
    color: #000;
  }
  a:hover {
    background-color: #eee;
    text-decoration: none;
  }
}

// #header-container, #body-container, #sidebar-container, #main-container, #footer-container {
//   // outline: 1px dotted gray;
// }

#header-container {
  height: 200px;
  background-color: #bbb;
  background-image: url($banner-bg);
  margin: 0 auto;
  width: 100%;
  background-position: center;

  @media #{$smaller-screen} {
    background-image: none;
  }
}

#header-content {
  background-image: url($banner-center);
  background-position: center;
  height: 100%;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;

  @media #{$smaller-screen} {
    background-position-x: -125px;
  }
}

#body-container {
  margin-top: -2rem;
  margin-bottom: -6rem;
  z-index: 1000;
}

#sidebar-container {
}

#main-container {
}

#footer-container {
  margin-top: 3rem;
  margin-bottom: 0;
  width: 100%;
  background-image: url($footer-bg);
  height: 200px;
  overflow: hidden;
  background-position: center;

  @media #{$smaller-screen} {
    background-image: none;
  }
}

#footer-content {
  // margin-top: 6rem;
  text-align: center;
  padding: 5rem 5% 0 5%;
  height: 100%;
  background-image: url($footer-center);
  width: 100%;
  background-position: center;
  max-width: 1024px;
  margin: 0 auto;

  .tile {
    padding-bottom: 1.5rem;
    margin: 0 auto;
  }

}

h1 {
  margin-bottom: 0.4em;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0)); 
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0)); 
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0)); 
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
}


#sidebar-container {

  .home-link {
    background-image: url($photo);
    background-size: cover;
    display: block;
    border-radius: 50%;
    border: 2px solid #ddd;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 1.1rem;
    margin-left: auto;
    margin-right: auto;

    @media #{$smaller-screen} {
      width: 250px;
      height: 250px;
      padding-bottom: 0;
    }
  }

  p {
    margin-bottom: 2rem;
    padding-right: 0.5rem;
  }

  ul {
    list-style-type: none;
    padding-right: 0.5rem;
  }


  text-align: right;

  @media #{$smaller-screen} {
    text-align: center;
  }
}

.single-page {

  > header {
    margin-bottom: 0;
  }

}

.copy-content {
  p {
    text-indent: 2rem;
    margin: 0;
    margin-bottom: 1rem;
  }

  padding-left: 1rem;
  padding-right: 1rem;

  @media #{$smaller-screen} {
    padding-left: 0;
    padding-right: 0;
  }

  a {
    // font-weight: bold;
  }

  h2 {
    font-size: 170%;
    line-height: 125%;
    margin-top: 2.5rem;
    margin-bottom: 0.75rem;
  }
  h3 {
    font-size: 130%;
    margin-bottom: 0.5rem;
  }

  @include first-line-emphasis(133%);
  
}

.tag-list {
  > li {
    display: inline-block;
    padding: 0.0rem 0.5rem;
    margin: 0.5rem 0.5rem;
    background: #eee;
    border-bottom: #bbb 1px solid;
    border-right: #bbb 1px solid;
    > a, > a:visited {
      color: #111;
    }
    > a:hover {
      background-color: transparent;
      color: #666;
    }
  }

  .tag-li-tag {
    background: #ded;
  }
  .tag-li-category {
    background: #edd;
  }
  .tag-li-series {
    background: #dde;
  }

  font-size: 80%;
  margin-bottom: 0.5rem;
  list-style-type: none;
  text-align: right;
}


